{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

<div class="container">

  <div style="float: right;">

    <!--<p style="color: white;">Total: $ {{importe_total_carro}}</p>-->

    <table class="table table-bordered" id="carrocompras">
      
      <thead>

        <tr>
          <th colspan="3" class="text-center">

            Carro compras

          </th>
        </tr>

        <tr>

          <th>Producto</th>
          <th>Cantidad</th>
          <th>Total</th>

        </tr>
      </thead>

      <tbody>
          {% if request.session.carro.items %}

              {% for key, value in request.session.carro.items %}

                  <tr class="text-center">

                    <td>{{value.nombre}}</td>
                    <td>{{value.cantidad}}</td>

                    <td>

                      <a href="{% url 'carro:restar' value.producto_id %}" class="btn btn-sm btn-success"> - </a>
                      <a href="{% url 'carro:agregar' value.producto_id %}" class="btn btn-sm btn-success"> + </a>
                      
                      <br>

                      $ {{value.precio}}
                    </td>

                  </tr>
              {% endfor %}

          {% else %}

          <tr>
            <td colspan="3" >

              <div class="alert alert-danger text-center">

                  No hay productos en el carro
                  
              </div>
                
            </td>
          </tr>
          
          {% endif %}

      </tbody>

      <tfoot>
        <tr>
          <td colspan="2">

            <a href="{% url 'carro:limpiar'%}" class="btn btn-success">Limpiar Carro</a>
              
          </td>

          <td>
            Total: $ {{importe_total_carro}}
          </td>
        </tr>
      </tfoot>
    </table>
  
  </div>

    <div class="row">
        
      {% for producto in productos %}
    
        <div class="col-md-3">
    
          <div class="card" id="cajasTienda">
    
              <img src="{{producto.imagen.url}}" class="card-img-center">
    
              <div class="card-body">
                <h5 class="card-title">{{producto.nombre}}</h5>
                <p class="card-text">$ {{producto.precio}}</p>
              </div>

              <!-- Boton de Agregar al Carro--->
              <div class="text-center" style="margin: 10px 10px">  

                <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success">Agregar al Carro</a>
    
              </div>
    
          </div>

        </div>
    
      {% endfor %}
    
      </div>
    
    </div>

{% endblock %}