{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}


    {% for post in posts %}

    <section class="page-section clearfix">
      <div class="container">
        <div class="card">
          <a href="#">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.imagen.url}}" alt="">
          </a>
            <div class="card-body">
              <h5 class="card-title" style="color: white;">{{post.titulo}}</h5>
              <p class="card-text" style="color: white;">{{post.contenido}}</p>
            </div>
        </div>
      </div>
    </section>

    {% endfor %}


{% endblock %}