{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

    {% for servicio in servicios %}
      <br>

      <style>

        figure img{
          padding: 4px;
          background: #323232;
          
        }

        #cajas:hover{
          transform: scale(1.2);

        }

      </style>
      
      <section>
        <div class="card" id="cajas" style="width: 20%; float: left; margin: 20px;">

          <figure>
            <img class="card-img-top" src="{{servicio.imagen.url}}" alt="Card image cap">
          </figure>
        
          <div class="card-body">
            <h5 class="card-title">{{servicio.titulo}}</h5>
            <p class="card-text">{{servicio.contenido}}</p>
          </div>
        </div>
      </section>

    {% endfor %}

    <div style="clear: both;"></div>

{% endblock %}